@media (min-width: 768px) {
  .content {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .content {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 1140px;
  }
}
.content {
  margin: 0 auto;
  min-height: 200px;
}
.content .container {
  position: relative;
  height: 200px;
  overflow: hidden;
  border: 1px solid blue;
}
.content .container .next,
.content .container .before {
  position: absolute;
  right: 0;
  top: 0;
  height: 200px;
  width: 30px;
  background-color: gray;
  cursor: pointer;
}
.content .container .before {
  left: 0;
}
.content .signature {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.content .signature li {
  display: inline-block;
  background: magenta;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
}
.content .signature li.lightsOn {
  background: blue;
}
.slide {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slide li {
  float: left;
  height: 200px;
  background-color: red;
}
.slide p {
  text-align: center;
  font-size: 30px;
}
